<ion-header>

  <div class="login-header-icon">
    <img class="logo-img" src="assets/icons/icon-512x512.png" />
  </div>

  <ion-toolbar color="tertiary" style="text-align: center">
    <ion-title size="large"><strong>Macrozilla</strong></ion-title>
  </ion-toolbar>

  <ion-toolbar color="tertiary" style="text-align: center">
    <ion-title size="small"
      ><strong
        >Track daily food intake, respecting your macro nutrient
        targets.</strong
      ></ion-title
    >
  </ion-toolbar>

  <ion-toolbar color="darker-tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" (click)="goToLoginPage()"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="form-content">
  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryPasswordReset(validations_form.value)">

    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Send Reset Link
    </ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>

</ion-content>