<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Food Database</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Searchbar with cancel button shown on focus -->

  <ion-searchbar debounce="370" [(ngModel)]="searchTerm" (ionInput)="filterFoods()">
  </ion-searchbar>

  <ion-content>
    <!-- Default Refresher -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- Normal screen -->
    <ion-list *ngIf="searchTerm.length == 0; then viewIntroMessage else beginSearch">
      <!-- Skeleton in here-->
    </ion-list>

    <!-- Skeleton: view personal db message screen -->
    <ng-template #viewIntroMessage>
      <ion-card>
        <ion-item class="ion-text-center">
          <ion-label class="ion-text-center" color="tertiary"><strong>Search by Food Name</strong></ion-label>
        </ion-item>

        <ion-card-content class="ion-text-center">
          Start typing the name of food you want to find.
        </ion-card-content>
      </ion-card>
    </ng-template>

    <!-- Skeleton: Begin Search -->
    <ng-template #beginSearch>
      <ng-container *ngIf="loadingFlag; then loading else filteredItems">
      </ng-container>
    </ng-template>

    <!-- Skeleton: Loading screen -->
    <ng-template #loading>
      <ion-list>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-skeleton-text animated style="width: 90%; height: 21px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%; height: 14px"></ion-skeleton-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-skeleton-text animated style="width: 90%; height: 21px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%; height: 14px"></ion-skeleton-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-skeleton-text animated style="width: 90%; height: 21px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%; height: 14px"></ion-skeleton-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-skeleton-text animated style="width: 90%; height: 21px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%; height: 14px"></ion-skeleton-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-skeleton-text animated style="width: 90%; height: 21px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%; height: 14px"></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>

    <!-- Skeleton: List filtered items -->
    <ng-template #filteredItems>
      <ng-container
        *ngIf="searchTerm.length > 0 && !loadingFlag && noPersonalFoodsFoundAfterQuery && noGlobalFoodsFoundAfterQuery && !personalDbSearchExecutionInProcess && !globalDbSearchExecutionInProcess; then nothingFound">
      </ng-container>
      <ion-item-sliding *ngFor="let food of filteredFoodMap | keyvalue: asIsOrder" #slidingItem>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2>
              <strong>{{food.value.Name}}</strong>&nbsp;({{food.value.ServingAmount}}{{food.value.ServingUnitShortCode}})
            </h2>

            <h3>🔋 {{food.value.Calories}} kcal</h3>
            <p>🥩 {{food.value.Protein | number:'.1'}}g 🍞 {{food.value.Carbohydrates | number:'.1'}}g 🐖
              {{food.value.Fats | number:'.1'}}g :
              (✔️ {{+food.value.Fats - +food.value.Saturated | number:'.1'}}g ❌ {{food.value.Saturated |
              number:'.1'}}g)
            </p>

          </ion-label>
          <ion-avatar *ngIf="food.value.IsFromPersonalDb" slot="end" color="primary">
            <h3>📝</h3>
          </ion-avatar>
          <ion-avatar *ngIf="!food.value.IsFromPersonalDb" slot="end" color="primary">
            <h3>🌎</h3>
          </ion-avatar>
        </ion-item>

        <!-- Enable sliding on personal foods -->
        <ion-item-options side="end">
          <ion-item-option *ngIf="food.value.IsFromPersonalDb" color="warning"
            (click)="editFood(food.value,slidingItem)">
            <ion-icon name="create"></ion-icon>
            Edit
          </ion-item-option>
          <ion-item-option *ngIf="food.value.IsFromPersonalDb" color="danger"
            (click)="presentAlertConfirmDelete(food.value,slidingItem)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </ion-item-option>
          <ion-item-option *ngIf="!food.value.IsFromPersonalDb" color="light" disabled>
            🔒
          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
    </ng-template>

    <!-- Skeleton: Nothing found -->
    <ng-template #nothingFound>
      <ion-card>
        <ion-card-content>
          Sorry, we couldn't find anything. 😞
        </ion-card-content>
      </ion-card>
    </ng-template>

    <!-- Fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="light-sea-green" (click)="addFood()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>
</ion-app>