<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Analytics</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
          <ion-card style="text-align: center;">
            <ion-card-header>
              <ion-card-title>All Time Average Calories</ion-card-title>
              <ion-card-title><strong>🔋{{allTimeAverageCalories}} kcal</strong></ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
          <ion-card style="text-align: center;">
            <ion-card-header>
              <ion-card-title>All Time Calories</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <canvas #lineChartCaloriesAllTime></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
          <ion-card style="text-align: center;">
            <ion-card-header>
              <ion-card-title>All Time Average Macro Ratio</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <canvas #pieChartMacrosAllTime></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
