.error-message-email
{
 color: var(--ion-color-danger);
 padding-top: 10px;
 padding-left: 15px ;
}

.error-message-password
{
 color: var(--ion-color-danger);
 padding-top: 10px;
 padding-left: 15px ;
}

.error-message-login
{
 color: var(--ion-color-danger);
 text-align: center;

 padding-left: 15px ;
}

.go-to-forgot-password
{
  text-align: center;
}
