.error-message-email
{
 color: var(--ion-color-danger);
 padding-top: 10px;
 padding-left: 15px ;
}

.error-message-password
{
 color: var(--ion-color-danger);
 padding-top: 10px;
 padding-left: 15px ;
}

.error-message-login
{
 color: var(--ion-color-danger);
 text-align: center;

 padding-left: 15px ;
}

.go-to-forgot-password
{
  text-align: center;
}

.login-header{
    background: var(--ion-color-danger);
}

.logo-img{
  display: block;
  width: 120px;
  margin: 0 auto;
  text-align: center;
}


