

<ion-tabs>
  <!-- The ion-tab-button tab="daily_entry"> takes the routes from tabs-routing.module.ts -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="daily_entry">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Daily Tracking</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="foods_database">
      <ion-icon name="file-tray-stacked-outline"></ion-icon>
      <ion-label>Food Database</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analytics">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Analytics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  <!--<ng-adsense [adClient]="'ca-pub-4170899751020775'" [pageLevelAds]="true"></ng-adsense>-->
</ion-tabs>