
ion-popover#popover-bottom::part(content) {
    top: unset !important;
    left: 0 !important;
    bottom: 0;
    width: 100%;
    border-radius: 0;
  }
  
  ion-popover.popover-bottom ion-datetime {
    margin-left: auto;
    margin-right: auto;
    --background: white;
  }

  ion-item {
    --ripple-color: transparent;
  }

  ion-checkbox {
    --ripple-color: transparent;
  }