<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Daily Entry</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <strong>🔋{{ summaryDay?.totalCalories | number:'1.0-0' }} kcal</strong>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <strong>
          🥩
          {{ summaryDay?.totalGramsProtein *4 / (summaryDay?.totalGramsProtein*4 + summaryDay?.totalGramsCarbohydrates*4
          +summaryDay?.totalGramsFats*9) * 100 | number:'1.0-0'}}%
          🍞
          {{ summaryDay?.totalGramsCarbohydrates *4 / (summaryDay?.totalGramsProtein *4 +
          summaryDay?.totalGramsCarbohydrates*4 +summaryDay?.totalGramsFats*9) * 100 | number:'1.0-0'}}%
          🐖
          {{ summaryDay?.totalGramsFats *9 / (summaryDay?.totalGramsProtein *4 + summaryDay?.totalGramsCarbohydrates*4
          +summaryDay?.totalGramsFats*9) * 100 | number:'1.0-0'}}%
          :
          (
          ✔️
          {{ (summaryDay?.totalGramsFats-summaryDay?.totalGramsSaturated ) * 9 / (summaryDay?.totalGramsProtein *4 +
          summaryDay?.totalGramsCarbohydrates*4 +summaryDay?.totalGramsFats*9) * 100 | number:'1.0-0'}}%
          ❌
          {{ summaryDay?.totalGramsSaturated *9 / (summaryDay?.totalGramsProtein *4 +
          summaryDay?.totalGramsCarbohydrates*4 +summaryDay?.totalGramsFats*9) * 100 | number:'1.0-0'}}%
          )
        </strong>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label> Select Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date" (ionChange)="parseDate()" value={{date}}>
        </ion-datetime>
      </ion-item>

    </ion-card>
    <ion-content>

    <!-- Default Refresher -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
      <ion-item-sliding *ngFor="let entry of dailyEntriesList" #slidingItem>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h2><strong>{{entry.food.name}}</strong></h2>
            <h3>🔋 {{entry.food.calories * entry.qty | number:'1.0-1' }}kcal 🥩
              {{entry.food.protein * entry.qty | number:'1.0-1' }}g 🍞
              {{entry.food.carbohydrates * entry.qty | number:'1.0-1' }}g 🐖
              {{entry.food.fats * entry.qty | number:'1.0-1' }}g</h3>
          </ion-label>

          <ion-chip slot="end" color="primary">
            ×&nbsp;<strong>{{entry.qty | number:'1.2-2'}}</strong>
          </ion-chip>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="presentAlertConfirm(entry,slidingItem)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <!-- Fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addNewEntry()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>


  </ion-content>
</ion-app>