  <!--<ion-toolbar>
  <ion-buttons slot="primary">
  <ion-button (click)="presentPopover($event)">
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
-->
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-3></ion-col>
      <ion-col col-6 style="text-align: center;">
        <img style="text-align: center;" expand="block" src="assets/avatar.png" button>
      </ion-col>
      <ion-col col-3></ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Name</ion-card-subtitle>
      <ion-card-title>
        <ion-row>
          <ion-col>
            {{userName}}
          </ion-col>
          <ion-col style="text-align: end;">
            <ion-icon name="create-outline" button></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-title>
      <ion-card-subtitle>Email</ion-card-subtitle>
      <ion-card-title>{{emailAddress}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-button class="button" color="danger" expand="block" (click)="logout()">Log out</ion-button>
</ion-content>