<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="authorized_user/tabs/foods_database"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Food</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addForm" (ngSubmit)="submitForm()" novalidate>

    <ion-item-divider>
      <ion-label>General Information</ion-label>
    </ion-item-divider>

    <ion-card>
      <ion-item>
        <ion-input formControlName="name" type="text" label="Name" labelPlacement="floating"
          placeholder="Enter the food name" #nameInput>
        </ion-input>
      </ion-item>
    </ion-card>

    <ion-item-divider>
      <ion-label>Serving Size</ion-label>
    </ion-item-divider>


    <ion-grid>
      <ion-card>
        <ion-row>

          <ion-col>
            <ion-item>
              <ion-input formControlName="servingAmount" type="text" labelPlacement="stacked"
                placeholder="Enter the amount" inputmode="numeric">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col>
              <ion-item>
                <ion-select interface="popover" formControlName="servingUnit" labelPlacement="stacked"
                placeholder="Choose Unit">
                  <ion-select-option *ngFor="let s of servingUnits" [value]="s">{{ s.Name }}</ion-select-option>
                </ion-select>
              </ion-item>
          </ion-col>

        </ion-row>
      </ion-card>
    </ion-grid>

    <ion-item-divider>
      <ion-label>Nutritional Information</ion-label>
    </ion-item-divider>

    <ion-card>
      <ion-item>
        <ion-input formControlName="calories" type="text" label="Calories 🔋" labelPlacement="floating" placeholder="Enter calories" inputmode="numeric"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="fats" type="text" label="Fats 🐖" labelPlacement="floating" placeholder="Enter fats" inputmode="numeric"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="saturated" type="text" label="Saturated Fats ❌" labelPlacement="floating" placeholder="Enter saturated fats" inputmode="numeric"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="carbohydrates" type="text" label="Carbohydrates 🍞" labelPlacement="floating" placeholder="Enter carbohydrates" inputmode="numeric"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="protein" type="text" label="Protein 🥩" labelPlacement="floating" placeholder="Enter protein" inputmode="numeric"></ion-input>
      </ion-item>
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="light-sea-green" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>

  </form>
  
</ion-content>