<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/daily_entry"></ion-back-button>
    </ion-buttons>
    <ion-title> New Daily Entry</ion-title>
  </ion-toolbar>

</ion-header>

<!-- Searchbar with cancel button shown on focus -->
<ion-searchbar debounce="380" [(ngModel)]="searchTerm" (ionChange)="filterFoods()">
</ion-searchbar>

<ion-content>

  <!-- Default Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div>
    <!-- Normal screen -->
    <ion-list *ngIf="searchTerm.length == 0; then viewIntroMessage else beginSearch">
      <!-- Skeleton in here-->
    </ion-list>

    <!-- Skeleton: view personal db message screen -->
    <ng-template #viewIntroMessage>
      <ion-card>
        <ion-item class="ion-text-center">
          <ion-label class="ion-text-wrap" color="tertiary"><strong>Search by Food Name</strong></ion-label>
        </ion-item>

        <ion-card-content class="ion-text-center">
          Start typing the name of food you want to add in your daily entries.
        </ion-card-content>
      </ion-card>
    </ng-template>

    <!-- Skeleton: Begin Search -->
    <ng-template #beginSearch>
      <ng-container *ngIf="loadingFlag; then loading else filteredItems">
      </ng-container>
    </ng-template>

    <!-- Skeleton: List filtered items -->
    <ng-template #filteredItems>
      <ng-container
        *ngIf="searchTerm.length > 0 && !loadingFlag && noPersonalFoodsFoundAfterQuery && noGlobalFoodsFoundAfterQuery && !personalDbSearchExecutionInProcess && !globalDbSearchExecutionInProcess; then nothingFound">
      </ng-container>
      <ion-item *ngFor="let food of filteredFoodMap | keyvalue: asIsOrder" (click)="foodSelected(food.value)">
        <ion-label class="ion-text-wrap">
          <h2>
            <strong>{{food.value.Name}}</strong>&nbsp;({{food.value.ServingAmount}}{{food.value.ServingUnitShortCode}})
          </h2>
        </ion-label>

        <ion-chip *ngIf="food.value.IsFromPersonalDb" slot="end" color="secondary">
          <strong>🔋 {{food.value.Calories}} kcal</strong>
        </ion-chip>

        <ion-chip *ngIf="!food.value.IsFromPersonalDb" slot="end" color="medium">
          <strong>🔋 {{food.value.Calories}} kcal</strong>
        </ion-chip>

      </ion-item>
    </ng-template>

    <!-- Skeleton Loading screen -->
    <ng-template #loading>
      <ion-list>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-skeleton-text animated style="width: 90%; height: 21px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%; height: 14px"></ion-skeleton-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-skeleton-text animated style="width: 90%; height: 21px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%; height: 14px"></ion-skeleton-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-skeleton-text animated style="width: 90%; height: 21px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%; height: 14px"></ion-skeleton-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-skeleton-text animated style="width: 90%; height: 21px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%; height: 14px"></ion-skeleton-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-skeleton-text animated style="width: 90%; height: 21px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 40%; height: 15px"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 80%; height: 14px"></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>

    <!-- Skeleton: Nothing found -->
    <ng-template #nothingFound>
      <ion-card>
        <ion-card-content>
          Sorry, we couldn't find anything. 😞
        </ion-card-content>
      </ion-card>
    </ng-template>

  </div>

</ion-content>