.error-message
{
  color: var(--ion-color-danger);
  padding-left: 15px ;
}

.success-message
{
  color: var(--ion-color-success);
  padding-top: 30px;
  padding-left: 0px ;
}

.go-to-login
{
  text-align: center;
  margin-top: 20px;
}

.submit-btn
{
  margin-top: 40px;
}