.error-message
{
  color: var(--ion-color-danger);
  padding-left: 15px;
  font-size: 0.8rem;
}

.success-message
{
  color: var(--ion-color-success);
  padding-top: 15px;
  padding-left: 0px;
  font-size: 0.8rem;
}

.login-header-icon {
  background: var(--ion-color-tertiary);
}

.logo-img {
  display: block;
  width: 135px;
  margin: 0 auto;
  text-align: center;
}

